<section>
    <div class="description-1">
        <h1 class="fontRalewayBold">UNSERE LEISTUNGEN</h1>
        <p class="fontRaleway">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et aliquid adipisci alias. Rem architecto
            provident, illum iste necessitatibus suscipit temporibus doloribus? Officia temporibus maxime nam totam
            dignissimos, eius porro quod
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et aliquid adipisci alias. Rem architecto
            provident, illum iste necessitatibus suscipit temporibus doloribus? Officia temporibus maxime nam totam
        </p>
        <img src="./../../assets/img/style1.jpg" alt="">
        <p class="fontRaleway">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et aliquid adipisci alias. Rem architecto
            provident, illum iste necessitatibus suscipit temporibus doloribus? Officia temporibus maxime nam totam
            dignissimos, eius porro quod
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et aliquid adipisci alias. Rem architecto
            provident, illum iste necessitatibus suscipit temporibus doloribus? Officia temporibus maxime nam totam
            dignissimos, eius porro quod.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et aliquid adipisci alias. Rem architecto
            provident, illum iste necessitatibus suscipit temporibus doloribus? Officia temporibus maxime nam totam
            dignissimos, eius porro quod.
        </p>
    </div>

    <div class="description-2 fontRalewayBold">
            <img src="./../../../assets/img/hairdresser.jpg" alt="">
            <p>

                Wir enthüllen dich.
                Deine Individualität.
                Deine Anmut. Deine Grazie.
                Und begleiten dich auf deiner Reise.
                
                Wir pflegen deine Erscheinung.
                Verleihen ihr Kraft.
                Hauchen ihr Glanz ein.
                Lassen sie erstrahlen.
                
                Und machen dich zu etwas Einzigartigem.
                Wir betonen, was dich hervorstechen lässt.
                Mit Hingabe. Kreativität. Liebe zum Detail.
                Und zeigen allen, wie außergewöhnlich du bist.
                
                [Dein Name]. Du strahlst.</p>
    </div>
</section>
