<section>
    <div class="description-1">
        <h1 class="fontRalewayBold">UNSERE LEISTUNGEN</h1>
        <p class="fontRaleway">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et aliquid adipisci alias. Rem
            architecto
            provident, illum iste necessitatibus suscipit temporibus doloribus? Officia temporibus maxime nam totam
            dignissimos, eius porro quod
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et aliquid adipisci alias. Rem architecto
            provident, illum iste necessitatibus suscipit temporibus doloribus? Officia temporibus maxime nam totam
        </p>
        <img src="./../../../assets/img/style1.jpg" alt="">
        <p class="fontRaleway">Lorem ipsum dolor sit ametnng ng, consectetur adipisicing elit. Et aliquid adipisci alias. Rem
            architecto
            provident, illum iste necessitatibus suscipit temporibus doloribus? Officia temporibus maxime nam totam
            dignissimos, eius porro quod
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et aliquid adipisci alias. Rem architecto
            provident, illum iste necessitatibus suscipit temporibus doloribus? Officia temporibus maxime nam totam
            dignissimos, eius porro quod.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et aliquid adipisci alias. Rem architecto
            provident, illum iste necessitatibus suscipit temporibus doloribus? Officia temporibus maxime nam totam
            dignissimos, eius porro quod.
        </p>
    </div>

    <div class="description-2 fontRalewayBold">
        <div class="fontRaleway">
            <p>
                Lorem ipsum dolor. <br>
                Integer bibendum. <br>
                Lorem ipsum dolor. Integer bibendum. <br>
                <br>
                Nullam vel mi id leo tristique dignissim. <br>
                Nam nec augue non tortor varius rhoncus. <br>
                Integer bibendum. <br>
                Integer bibendum. <br>
                <br>
                Lorem ipsum dolor. <br>
                Integer bibendum. <br>
                Lorem ipsum dolor. Integer bibendum. <br>
                <br>
                Nullam vel mi id leo tristique dignissim. <br>
                Nam nec augue non tortor varius rhoncus. <br>
                Integer bibendum. <br>
                Integer bibendum. <br>
                <br>
                <b>Deine Hair & Beauty LOUNGE</b>
            </p>
        </div>
    </div>
</section>