<section>
    <div>
        <h1>KONTAKT</h1>
        <h3>Unsere Adresse:</h3>
        <p>
            Hair & Beautylounge Skin Care & More <br>
            Marktplatz 4 <br>
            88677 Markdorf <br>
            075447440110 <br>
        </p>
        <h3>Öffnungszeiten</h3>
        <p> Mo-Fr - 09:00 - 19:00
        </p>
    </div>

    <div>
        <h1>LOCATION</h1>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10736.427847132627!2d9.3920567!3d47.7211731!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479a5598b22c0c07%3A0x1ea0486050bda699!2sHair%20%26%20Beautylounge%20Skin%20Care%20%26%20More!5e0!3m2!1sde!2sde!4v1703799760951!5m2!1sde!2sde"
            height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

</section>