<section>
    <div class="description-1">
        <h1 class="fontRalewayBold">UNSERE LEISTUNGEN</h1>
        <p class="fontRaleway">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et aliquid adipisci alias. Rem architecto
            provident, illum iste necessitatibus suscipit temporibus doloribus? Officia temporibus maxime nam totam
            dignissimos, eius porro quod
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et aliquid adipisci alias. Rem architecto
            provident, illum iste necessitatibus suscipit temporibus doloribus? Officia temporibus maxime nam totam
        </p>
        <img src="./../../assets/img/style1.jpg" alt="">
        <p class="fontRaleway">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et aliquid adipisci alias. Rem architecto
            provident, illum iste necessitatibus suscipit temporibus doloribus? Officia temporibus maxime nam totam
            dignissimos, eius porro quod
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et aliquid adipisci alias. Rem architecto
            provident, illum iste necessitatibus suscipit temporibus doloribus? Officia temporibus maxime nam totam
            dignissimos, eius porro quod.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et aliquid adipisci alias. Rem architecto
            provident, illum iste necessitatibus suscipit temporibus doloribus? Officia temporibus maxime nam totam
            dignissimos, eius porro quod.
        </p>
    </div>

    <div class="description-2 fontRalewayBold">
        <h2>LOCATION</h2>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10736.427847132627!2d9.3920567!3d47.7211731!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479a5598b22c0c07%3A0x1ea0486050bda699!2sHair%20%26%20Beautylounge%20Skin%20Care%20%26%20More!5e0!3m2!1sde!2sde!4v1703799760951!5m2!1sde!2sde"
            width="90%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div class="description-3">
        <h1 class="fontRalewayBold">DAFÜR STEHEN WIR</h1>
        <div class="fontRaleway">
            <div>
                <img src="./../../assets/img/handshake-256.ico" alt="">
                <p>PROFISSIONELLE <br>BERATUNG</p>
            </div>
            <div>
                <img src="./../../assets/img/diamond-256.ico" alt="">
                <p>TOP <br>PRODUKTE</p>
            </div>
            <div>
                <img src="./../../assets/img/thumbs-up-256.ico" alt="">
                <p>ZUFRIEDENE <br>KUNDEN</p>
            </div>
            <div>
                <img src="./../../assets/img/conference-256.ico" alt="">
                <p>TOP <br>TEAM</p>
            </div>
        </div>
    </div>
</section>