<section>
    <div class="description-1">
        <h1>USNERE LEISTUNGEN</h1>
        <img src="./../../assets/img/style1.jpg" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et aliquid adipisci alias. Rem architecto
            provident, illum iste necessitatibus suscipit temporibus doloribus? Officia temporibus maxime nam totam
            dignissimos, eius porro quod
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et aliquid adipisci alias. Rem architecto
            provident, illum iste necessitatibus suscipit temporibus doloribus? Officia temporibus maxime nam totam
            dignissimos, eius porro quod.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et aliquid adipisci alias. Rem architecto
            provident, illum iste necessitatibus suscipit temporibus doloribus? Officia temporibus maxime nam totam
            dignissimos, eius porro quod.
        </p>
    </div>

    <div class="descrption-2">
        <h2>LOCATION</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10736.427847132627!2d9.3920567!3d47.7211731!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479a5598b22c0c07%3A0x1ea0486050bda699!2sHair%20%26%20Beautylounge%20Skin%20Care%20%26%20More!5e0!3m2!1sde!2sde!4v1703799760951!5m2!1sde!2sde" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>