<section>
    <div class="el1">
        <img src="./../../../assets/img/logo.png" alt="">

        <div class="el2 fontRaleway">
            <a href="">HOME</a>
            <a href="">LOCATION</a>
            <a href="">TERMIN BUCHEN</a>
            <a href="">ÜBER UNS</a>
        </div>

        <div class="menu-btn" id="menu" (click)="openMenu()">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>

        <div id="mobile-container" class="mobile-menu d-none">
            <div>
                <a href="">HOME</a>
                <a href="">LOCATION</a>
                <a href="">TERMIN BUCHEN</a>
                <a href="">ÜBER UNS</a>
            </div>
        </div>
    </div>
</section>