<section>
    <div class="description-3">
        <h1 class="fontRalewayBold">DAFÜR STEHEN WIR</h1>
        <div class="fontRaleway flex-wrap">
            <div>
                <img src="./../../assets/img/handshake-256.ico" alt="">
                <p>PROFISSIONELLE <br>BERATUNG</p>
            </div>
            <div>
                <img src="./../../assets/img/diamond-256.ico" alt="">
                <p>TOP <br>PRODUKTE</p>
            </div>
            <div>
                <img src="./../../assets/img/thumbs-up-256.ico" alt="">
                <p>ZUFRIEDENE <br>KUNDEN</p>
            </div>
            <div>
                <img src="./../../assets/img/conference-256.ico" alt="">
                <p>TOP <br>TEAM</p>
            </div>
        </div>
    </div>
</section>